@import url("https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Roboto&family=Roboto+Condensed&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:300,400,600|Source+Serif+Pro");
html,
body {
  height: 100%;
  font-family: "Roboto", Hevetica, sans-serif !important;
  //font-family: "Source Sans Pro", Hevetica, sans-serif !important;
}

.form-login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.navbar-brand {
  font-family: "Pacifico";
  font-size: 35px !important;
  color: lightcoral !important;
}

.nav-link {
  font-size: 16px;
  // margin: 15px;
  font-family: "Roboto Condensed" !important;
}

.navbar-default {
  border-bottom: 1px solid lightgray;
}

.nav-link:hover {
  color: #00e8e8;
}

ul.navbar-nav li.nav-link {
  line-height: 35px;
}

.showcase {
  background-image: linear-gradient(
    45deg,
    #3e3e3e 0%,
    rgba(62, 62, 62, 0.86) 17%,
    rgba(62, 62, 62, 0.85) 19%,
    rgba(62, 62, 62, 0.2) 100%
  );
  margin-top: 5rem !important;
  min-height: 30rem;
  color: #fff;
  img {
    color: white;
    height: 32px;
    margin: 12px;
  }
}
